<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>[[${article.title}]]</title>
    <link rel="stylesheet" th:href="@{/css/prism.css}">
</head>
<body>
<!-- Blog detail Section-->
<div layout:fragment="content">
    <div class="row">
        <div class="col-lg-8">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1" th:text="${article.title}">Welcome to Blog Post!</h1>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2">
                        Viết: [[${article.createdAt}]], Cập nhật:  [[${article.updatedAt}]]
                        bởi [[${article.createdBy != null ? article.createdBy.name : 'Anonymous'}]]</div>
                    <!-- Post categories-->
                    <a th:each="category:${article.categories}" class="badge bg-secondary text-decoration-none link-light"
                       th:href="'/blog?category=' + ${category.slug}" >[[${category.name}]]</a>
                </header>
                <!-- Post content-->
                <div class="mb-5">
                    <section th:utext="${article.content}"></section>
                </div>
            </article>
            <!-- Comments section-->
<!--            <section class="mb-5">-->
<!--                <div class="card bg-light">-->
<!--                    <div class="card-body">-->
<!--                        &lt;!&ndash; Comment form&ndash;&gt;-->
<!--                        <form class="mb-4"><textarea class="form-control" rows="3" placeholder="Join the discussion and leave a comment!"></textarea></form>-->
<!--                        &lt;!&ndash; Comment with nested comments&ndash;&gt;-->
<!--                        <div class="d-flex mb-4">-->
<!--                            &lt;!&ndash; Parent comment&ndash;&gt;-->
<!--                            <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>-->
<!--                            <div class="ms-3">-->
<!--                                <div class="fw-bold">Commenter Name</div>-->
<!--                                If you're going to lead a space frontier, it has to be government; it'll never be private enterprise. Because the space frontier is dangerous, and it's expensive, and it has unquantified risks.-->
<!--                                &lt;!&ndash; Child comment 1&ndash;&gt;-->
<!--                                <div class="d-flex mt-4">-->
<!--                                    <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>-->
<!--                                    <div class="ms-3">-->
<!--                                        <div class="fw-bold">Commenter Name</div>-->
<!--                                        And under those conditions, you cannot establish a capital-market evaluation of that enterprise. You can't get investors.-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                &lt;!&ndash; Child comment 2&ndash;&gt;-->
<!--                                <div class="d-flex mt-4">-->
<!--                                    <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>-->
<!--                                    <div class="ms-3">-->
<!--                                        <div class="fw-bold">Commenter Name</div>-->
<!--                                        When you put money directly to a problem, it makes a good headline.-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        &lt;!&ndash; Single comment&ndash;&gt;-->
<!--                        <div class="d-flex">-->
<!--                            <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>-->
<!--                            <div class="ms-3">-->
<!--                                <div class="fw-bold">Commenter Name</div>-->
<!--                                When I look at the universe and all the ways the universe wants to kill us, I find it hard to reconcile that with statements of beneficence.-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </section>-->
        </div>
        <!-- Side widgets-->
        <div th:replace="blog/widget::widget"></div>
    </div>
</div>
<!-- Blog detail Section -->
<th:block layout:fragment="script">
    <script th:src="@{/js/prism.js}"></script>
</th:block>
</body>
</html>
 
