<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" >
<head>
    <title></title>
</head>
<body>
<!-- Blog Section-->
<div th:fragment="widget" class="col-lg-4">
    <div style="position: sticky; top: 60px;" >
        <!-- Search widget-->
        <div class="card mb-4">
            <div class="card-header">Tìm kiếm bài viết</div>
            <div class="card-body">
                <form class="input-group">
                    <input class="form-control" name="search" type="text"
                           th:value="${search != null ? search : ''}"
                           placeholder="Nhập từ khóa..." aria-label="Enter search term..."
                           aria-describedby="button-search" />
                    <button class="btn btn-primary">Tìm kiếm</button>
                </form>
            </div>
        </div>
        <!-- Categories widget-->
        <div class="card mb-4">
            <div class="card-header">Chuyên mục</div>
            <div class="card-body">
                <ul class="list-inline">
                    <li th:each="category:${categories}" class="list-inline-item">
                        <a th:href="'/blog/?category=' + ${category.slug}">[[${category.name}]]</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Side widget-->
        <div class="card mb-4">
            <div class="card-header">Thông tin tác giả</div>
            <div class="card-body">
                <p>Nguyễn Thọ Tuấn</p>
                <p>HCMUS</p>
            </div>
        </div>
    </div>
</div>
<!-- End Blog Section -->
</body>
</html>
