<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
    <!--Footer-->
    <div th:fragment="footer">
        <footer  class="page-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 ">
                        <h3 class="text-uppercase" th:text="${@environment.getProperty('app.hostName')}">NGUYENTHOTUAN.ME</h3>
                        <p>
                            67/35 Xô Viết Nghệ Tĩnh<br>
                            Bình Thạnh, HCM<br>
                            Việt Nam<br><br>
                            <strong>Điện thoại:</strong> +84975503208<br>
                            <strong>Email:</strong> info@<span th:text="${@environment.getProperty('app.hostName')}">nguyenthotuan.me</span><br>
                        </p>
                    </div>

                    <div class="col-md-6">
                        <h4>Đăng ký nhận tin từ website</h4>
                        <form id="formSubscribe" class="d-flex mt-4" action="/subscribe" method="post">
                            <div class="form-group">
                                <input class="form-control me-2"  name="email" id="subscriberEmail" placeholder="Email của bạn">
                                <div class="invalid-feedback"></div>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-outline-success" type="submit">Subscribe</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="footer-copyright text-center">
                <p>&copy; Copyright <strong class="text-uppercase" th:text="${@environment.getProperty('app.hostName')}">NguyenThoTuan.Me</strong>. All Rights Reserved</p>
            </div>
        </footer>
        <div id="system-message">
        </div>
        <svg id="topBtn" xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
        </svg>
    </div>
    <!--End footer-->
</body>
</html>
