<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>untitled</title>
    <meta name="description" content="Nguyễn Thọ Tuấn. Website cá nhân, chia sẻ kiến thức kinh nghiệm với Java & NodeJS. Các kiến thức cơ bản cuộc sống,...">
    <meta name="keywords" content="nttuan, ngthotuan, Nguyen Tho Tuan, Nguyễn Thọ Tuấn, nodejs, java, upload">

    <link rel="icon" th:href="@{/img/favicon.png}" >
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.1/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.15.4/css/all.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}" >
</head>
<body>
    <!-- Main layout-->
    <main class="main">
        <div th:replace="fragments/header::header"></div>
        <div class="container-fluid">
            <!-- Content layout-->
            <div layout:fragment="content" class="m-5 pt-4"></div>
            <!-- End Content layout-->
        </div>
    </main>
    <!-- End Main layout -->
    <div th:replace="fragments/footer::footer"></div>
    <!-- Common JS File -->
    <script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/5.1.1/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/validator.js}"></script>
    <script th:src="@{/js/main.js}"></script>
    <!--Page JS File-->
    <th:block layout:fragment="script"></th:block>
</body>
</html>