<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Tải lên</title>
</head>
<body>
<!-- ======= Upload Error Section ======= -->
<div layout:fragment="content" class="row" >
<div class="col col-offset-2">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4 alert alert-danger">Error</h1>
            <p class="lead">Error message</p>
        </div>
    </div>
</div>
</div>
<!-- End Upload Error Section -->
</body>
</html>

