<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Tải lên</title>
</head>
<body>
<!-- ======= Upload Success Section ======= -->
<div layout:fragment="content">
    <div class="row">
    <div class="col col-offset-2">
        <h1 class="alert alert-success text-center">Tải lên tệp thành công</h1>
        <div class="mt-5 form form-row justify-content-center">
            <div class="row g-3 text-center">
                <div class="col-sm-6 col-md-8">
                    <input id="linkShare" class="form-control" type="text" name="search" th:value="${fileUrl}">
                </div>
                <div class="col">
                    <button id="btnCopy" onclick="copyToClipboard()"  class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Nhấn để sao chép liên kết">
                        Sao chép
                    </button>
                </div>
                <div class="col">
                    <a class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Nhấn vào để tải file về"
                       th:href="@{${fileUrl}}">
                        Tải về
                    </a>
                </div>
                <script>
                        function copyToClipboard() {
                            const copyText = document.getElementById('linkShare');
                            copyText.select();
                            document.execCommand("copy");
                        }
                    </script>
            </div>
        </div>
        <div class="mt-5 text-center">
            <h3>Tải lên tệp khác tại <a href="/upload">đây</a></h3>
        </div>
    </div>
    </div>
</div>
<!-- End Upload Success Section -->
</body>
</html>

