<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Trang chủ</title>
    <meta name="description" content="Nguyễn Thọ Tuấn. Website cá nhân, chia sẻ kiến thức kinh nghiệm với Java & NodeJS. Các kiến thức cơ bản cuộc sống,...">
    <meta name="keywords" content="nttuan, ngthotuan, Nguyen Tho Tuan, Nguyễn Thọ Tuấn, nodejs, java, upload">
</head>
<body>
<!--Intro-->
<div layout:fragment="content">
    <div class="row">
        <div class="col-lg-6 col-12">
            <img class="img-fluid" src="/img/me.jpg" alt="Nguyễn Thọ Tuấn">
        </div>
        <div class="col-lg-6 col-12">
            <div>
                <h1>Nguyễn Thọ Tuấn</h1>
                <p>Web developer</p>
            </div>

            <ul class="nav nav-tabs mb-2" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="kienthuc-tab" data-bs-toggle="tab" href="#kienthuc" role="tab" aria-controls="kienthuc" aria-selected="true">Kiến thức</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="chuyenmon-tab" data-bs-toggle="tab" href="#chuyenmon" role="tab" aria-controls="chuyenmon" aria-selected="false">Chuyên môn</a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="kienthuc" role="tabpanel" aria-labelledby="kienthuc-tab">
                    <p>Sinh năm 4 chuyên ngành CNPM tại trường ĐH Khoa học tự nhiên</p>
                    <ul>
                        <li><i class="ri-check-double-line"></i>Kiến thức cơ bản về Mạng máy tính</li>
                        <li><i class="ri-check-double-line"></i>Kiến thức về CSDL có thể làm việc với MYSQL, SQL Server, MongoDB</li>
                        <li><i class="ri-check-double-line"></i>KIến thức nền tảng CTDL & PP lập trình HDT</li>
                    </ul>
                </div>
                <div class="tab-pane" id="chuyenmon" role="tabpanel" aria-labelledby="chuyenmon-tab">
                    <p>Kiến thức lập trình cơ sở với C/C++. Hiện tại đang theo mảng web:</p>
                    <ul>
                        <li><i class="ri-check-double-line"></i>Hiểu biết cơ sở về HTML, CSS, JS</li>
                        <li><i class="ri-check-double-line"></i>Back-end Java: Java core, Java servlet</li>
                        <li><i class="ri-check-double-line"></i>Back-end JS: NodeJS & Express Framework</li>
                        <li><i class="ri-check-double-line"></i>Kiến thức khác: Bootstrap, Docker, Nginx</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Intro -->
<!--<th:block layout:fragment="script">-->
<!--    <script src="/page.js"></script>-->
<!--</th:block>-->
</body>
</html>
